:root {
    --primary-color: #6818fd;
    --secondary-color: #4a18fd;
    --tertiary-color: #ae4efc;
    --background-light: #fff;
    --background-dark: #000;
    --text-light: #000;
    --text-dark: #fff;
    --link-color: #272727;
    --hover-color: #ae4efc;
    --border-color: #4a18fd;
    --button-hover: #e91e63;
    --button-bg: #ff4081;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    transition: 0.3s;
    background-size: cover;
    background-color: var(--background-light);
    background-image: url('mountains.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
}

body.dark-theme {
    background-color: var(--background-dark);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 15px 20px;
}

.logo {
    display: flex;
    align-items: center;
    color: white;
}

.logo img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.nav-links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    background-color: rgb(138, 138, 138);
    color: white;
    text-decoration: none;
    transition: color 0.3s;
    border-radius: 5px;
    padding: 10px 10px;
    margin-bottom: 5px;
    width: 20px;
    height: 20px;
    transition: 0.3s;
}

.nav-links li {
    justify-items: center;
    align-items: center;
    display: flex;
}

.nav-links img {
    margin: auto;
    width: 20px;
    height: 20px;
}

.nav-links a:hover {
    background-color: var(--hover-color);
    box-shadow: 0 0 10px var(--hover-color);
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 3px 0;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: row;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #333;
        width: 100%;
    }

    .nav-links.active {
        display: flex;
    }

    .menu-toggle {
        display: flex;
    }

    .backTop,
    .follow,
    .time,
    .music-player,
    .music-info,
    .music-title,
    .music-img,
    .music-btn-container,
    .progress-bar,
    #music {
        display: none;
        opacity: 0;
    }
}

.text.title {
    font-size: 50px;
    background: linear-gradient(to right, #f77062, #fe5196, #ff0080, #7c4dff, #4568dc, #2980b9, #2c3e50);
    background-size: 300%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: backgroundAnimation 10s linear infinite;
}

@keyframes backgroundAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@font-face {
    font-family: 'MiSans';
    src: url('../fonts/MiSans-Semibold.ttf');
}

a:not(.nav-links a) {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 2px 10px;
    border: #000 2px solid;
    margin: 5px;
    border-radius: 5px;
    transition: 0.3s;
    background-color: var(--link-color);
}

#email {
    padding: 2px 10px;
}

a:hover {
    background-color: var(--hover-color);
    box-shadow: 0 0 30px var(--hover-color);
}

.div {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.div p:first-child {
    font-size: 38px;
}

.text {
    text-align: center;
    font-family: 'MiSans', Arial, Helvetica, sans-serif;
    color: var(--text-light);
    margin: 5px;
    padding: 10px;
    text-shadow: none;
}

.light-theme .text {
    text-align: center;
    font-family: 'MiSans', Arial, Helvetica, sans-serif;
    color: var(--text-light);
    text-shadow: none;
}

.dark-theme .text {
    text-align: center;
    font-family: 'MiSans', Arial, Helvetica, sans-serif;
    color: var(--text-dark);
    text-shadow: var(--secondary-color) 0px 0px 20px;
}

#themeToggle {
    border-radius: 20px;
    background-color: gray;
    border: none;
    cursor: pointer;
    padding: 10px;
    transition: 0.6s;
}

#themeToggle:hover {
    background-color: #b6b6b6;
    box-shadow: 0 0 10px #b6b6b6;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #333;
    padding: 10px;
}

.title {
    font-size: 36px;
    font-family: 'MiSans', cursive;
    background: var(--background-dark);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.scrollline {
    position: fixed;
    top: 0;
    right: 10px;
    height: 100%;
    width: 2px;
    background-color: #000;
}

.scrolldot {
    position: fixed;
    top: 0;
    right: 2.89px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--primary-color);
    box-shadow: 0 0 15px var(--primary-color);
    animation: scrolldot 3s infinite;
}

@keyframes scrolldot {
    0% {
        box-shadow: 0 0 15px var(--primary-color);
    }
    50% {
        box-shadow: 0 0 5px var(--primary-color);
    }
    100% {
        box-shadow: 0 0 15px var(--primary-color);
    }
}

.backTop {
    scroll-behavior: smooth;
    position: fixed;
    bottom: 10px;
    left: 20px;
}

.follow {
    scroll-behavior: smooth;
    position: fixed;
    bottom: 10px;
    right: 20px;
}

.time {
    position: fixed;
    width: 150px;
    bottom: 70px;
    right: 20px;
    padding: 20px;
    background-color: rgba(82, 94, 255, 0.6);
    border-radius: 5px;
    border: var(--secondary-color) 2px solid;
    justify-content: center;
    align-items: center;
}

.music-player {
    display: flex;
    left: 20px;
    bottom: 75px;
    position: fixed;
    flex-direction: column;
    align-items: center;
    background-color: #282c34;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    color: white;
}

.lyrics {
    font-size: 18px;
    margin-bottom: 15px;
}

.music-info {
    font-size: 14px;
    margin-bottom: 15px;
}

.music-btn {
    background-color: var(--button-bg);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.music-btn:hover {
    background-color: var(--button-hover);
}

.progress-bar {
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    height: 5px;
    border-radius: 5px;
    background: #555;
}

.progress-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--button-bg);
    cursor: pointer;
}

.music-back-btn,
.music-next-btn {
    background-color: var(--button-bg);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 5px;
}

.music-back-btn:hover,
.music-next-btn:hover {
    background-color: var(--button-hover);
}

.music-btn-container {
    justify-content: center;
}

.music-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    animation: musicImg 5s infinite ease-in-out;
}

@keyframes musicImg {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.theme-text {
    color: var(--text-dark);
}

.explore-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    border: black 2px solid;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    box-shadow: 0 0 10px var(--secondary-color);
    background-color: #131313;
    transition: 0.3s;
}


.light-theme .explore-container {
    border-color: gray;
    background-color: #f0f0f0;
    padding: 20px;
    width : 80%;
    margin-bottom: 50px;
}
.dark-theme .explore-container {
    border-color: #ccc;
    background-color: #131313;
    padding: 20px;
    width : 80%;
    margin-bottom: 50px;
}

.explore-container:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px var(--secondary-color);
}

.explore {
    border-radius: 20px;
    padding: 3px 10px;
    background: black;
    color: white;
}

.explore-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--primary-color);
    border-radius: 10px;
} 

.explore-item {
    border-radius: 30px;
    font-size: 12px;
    background-color: #000000
}

.cutline {
    margin: 10px auto;
    position: relative;
    padding-top: 3px;
    width: 100%;
    background-color: var(--secondary-color);
    border-radius: 5px;
}

.color-select-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin-bottom: 50px;
    background-color: #131313;
    box-shadow: 0 0 20px var(--primary-color);
}

.light-theme .color-select-container {
    border-color: gray;
    background-color: #f0f0f0;
    padding: 20px;
    width : 80%;
    margin-bottom: 50px;
}
.dark-theme .color-select-container {
    border-color: #ccc;
    background-color: #131313;
    padding: 20px;
    width : 80%;
    margin-bottom: 50px;
}


.color-select {
    margin-bottom: 20px;
}

.color-select-text {
    font-size: 24px;
    color: #333;
}

.color-select-items {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.color-select-item {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.color-select-item:hover {
    transform: scale(1.1);
}

.notice-board {
    width: 85%;
    overflow-y: scroll;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin: 20px auto;
    box-sizing: border-box;
    margin-bottom: 50px;
    box-shadow: 0 0 20px var(--primary-color);
}

.light-theme .notice-board {
    border-color: gray;
    background-color: #f0f0f0;
    padding: 10px;
    margin: 20px auto;
    box-sizing: border-box;
    margin-bottom: 50px;
    box-shadow: 0 0 20px var(--primary-color);
}
.dark-theme .notice-board {
    border-color: #ccc;
    background-color: #131313;
    padding: 10px;
    margin: 20px auto;
    box-sizing: border-box;
    margin-bottom: 50px;
    box-shadow: 0 0 20px var(--primary-color);
}

.notice-container {
    padding: 0;
    margin: 0;
}

.notice {
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    position: relative;
}

.notice:last-child {
    border-bottom: none;
}

.notice-text {
    margin-bottom: 10px;
}

.notice-date {
    position: absolute;
    bottom: 5px;
    right: 0;
    font-size: 0.9em;
    color: #999;
}

.text {
    font-size: 1em;
    color: #333;
}

.load-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: var(--button-bg);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.load-button:hover {
    background-color: var(--button-hover);
}

.notice-board::-webkit-scrollbar {
    width: 10px;
}

.notice-board::-webkit-scrollbar-track {
    background: var(--secondary-color);
    border-radius: 10px;
    height: 90%;
}

.notice-board::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

.notice-board::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.mountain-layer {
    position: fixed;
    top: 160px;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.6;
}

.layer1 {
    background-image: url('../img/mount_light.svg');
    z-index: -3;
}

.layer2 {
    background-image: url('../img/mount_light.svg');
    z-index: -2;
}

.layer3 {
    background-image: url('../img/mount_light.svg');
    z-index: -1;
}