:root {
    --primary-color: #6818fd;
    --secondary-color: #4a18fd;
    --tertiary-color: #ae4efc;
    --background-light: #fff;
    --background-dark: #000;
    --text-light: #000;
    --text-dark: #fff;
    --link-color: #4b4b4b;
    --hover-color: #ae4efc;
    --border-color: #4a18fd;
    --button-hover: #e91e63;
    --button-bg: #ff4081;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    transition: 0.3s;
    background-size: cover;
    background-color: var(--background-light);
}

body.dark-theme {
    background-color: var(--background-dark);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 15px 20px;
}

.logo {
    display: flex;
    align-items: center;
    color: white;
}

.logo img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.nav-links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
    border-radius: 5px;
    padding: 20px 25px;
    background-color: #1d1919;
}

.nav-links a:hover {
    background-color: var(--hover-color);
    box-shadow: 0 0 10px var(--hover-color);
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 3px 0;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: row;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #333;
        width: 100%;
    }

    .nav-links.active {
        display: flex;
    }

    .menu-toggle {
        display: flex;
    }

    .backTop,
    .follow,
    .time,
    .music-player,
    .music-info,
    .music-title,
    .music-img,
    .music-btn-container,
    .progress-bar,
    #music {
        display: none;
        opacity: 0;
    }
}

.text.title {
    font-size: 50px;
    background: linear-gradient(to right, #f77062, #fe5196, #ff0080, #7c4dff, #4568dc, #2980b9, #2c3e50);
    background-size: 300%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: backgroundAnimation 10s linear infinite;
}

@keyframes backgroundAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.dark-theme .text.title {
    text-shadow: 0 0 10px var(--primary-color);
}

@font-face {
    font-family: 'MiSans';
    src: url('../fonts/MiSans-Semibold.ttf');
}

a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    transition: 0.3s;
    background-color: var(--link-color);
}

a:hover {
    background-color: var(--hover-color);
    box-shadow: 0 0 30px var(--hover-color);
}

.div {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.div p:first-child {
    font-size: 38px;
}

.titlebox {
    padding: 0 10px;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid var(--secondary-color);
    transition: 0.2s;
    box-shadow: 0 0 20px var(--secondary-color);
}

.titlebox:hover {
    animation: titlebox 2s infinite;
}

@keyframes titlebox {
    0%, 100% {
        box-shadow: 0 0 50px var(--secondary-color);
    }
    50% {
        box-shadow: 0 0 5px var(--secondary-color);
    }
}

.text {
    text-align: center;
    font-family: 'MiSans', Arial, Helvetica, sans-serif;
    color: var(--text-light);
    margin: 5px;
    padding: 10px;
    text-shadow: none;
}

.light-theme .sections {
    background: var(--background-light);
}

.dark-theme {
    background: url(https://img.picui.cn/free/2024/11/16/67388b2be87ac.png) no-repeat center center fixed;
    background-size: cover;
}

.light-theme {
    background: url(https://img.picui.cn/free/2024/11/16/67388b2f37e69.png) no-repeat center center fixed;
    background-size: cover;
}

.light-theme .text {
    text-align: center;
    font-family: 'MiSans', Arial, Helvetica, sans-serif;
    color: var(--text-light);
    text-shadow: none;
}

.dark-theme .text {
    text-align: center;
    font-family: 'MiSans', Arial, Helvetica, sans-serif;
    color: var(--text-dark);
    text-shadow: var(--secondary-color) 0px 0px 20px;
}

#themeToggle {
    border-radius: 20px;
    background-color: gray;
    border: none;
    cursor: pointer;
    padding: 10px;
    transition: 0.6s;
}

#themeToggle:hover {
    background-color: #b6b6b6;
    box-shadow: 0 0 10px #b6b6b6;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #333;
    padding: 10px;
}

.title {
    font-size: 36px;
    font-family: 'MiSans', cursive;
    background: var(--background-dark);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.scrollline {
    position: fixed;
    top: 0;
    right: 10px;
    height: 100%;
    width: 2px;
    background-color: #000;
}

.scrolldot {
    position: fixed;
    top: 0;
    right: 2.89px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--primary-color);
    box-shadow: 0 0 15px var(--primary-color);
    animation: scrolldot 3s infinite;
}

@keyframes scrolldot {
    0% {
        box-shadow: 0 0 15px var(--primary-color);
    }
    50% {
        box-shadow: 0 0 5px var(--primary-color);
    }
    100% {
        box-shadow: 0 0 15px var(--primary-color);
    }
}

.backTop {
    scroll-behavior: smooth;
    position: fixed;
    bottom: 10px;
    left: 20px;
}

.follow {
    scroll-behavior: smooth;
    position: fixed;
    bottom: 10px;
    right: 20px;
}

.time {
    position: fixed;
    width: 150px;
    bottom: 70px;
    right: 20px;
    padding: 20px;
    background-color: rgba(82, 94, 255, 0.6);
    border-radius: 5px;
    border: var(--secondary-color) 2px solid;
    justify-content: center;
    align-items: center;
}

.music-player {
    display: flex;
    left: 20px;
    bottom: 75px;
    position: fixed;
    flex-direction: column;
    align-items: center;
    background-color: #282c34;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    color: white;
}

.lyrics {
    font-size: 18px;
    margin-bottom: 15px;
}

.music-info {
    font-size: 14px;
    margin-bottom: 15px;
}

.music-btn {
    background-color: var(--button-bg);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.music-btn:hover {
    background-color: var(--button-hover);
}

.progress-bar {
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    height: 5px;
    border-radius: 5px;
    background: #555;
}

.progress-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--button-bg);
    cursor: pointer;
}

.music-back-btn,
.music-next-btn {
    background-color: var(--button-bg);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 5px;
}

.music-back-btn:hover,
.music-next-btn:hover {
    background-color: var(--button-hover);
}

.music-btn-container {
    justify-content: center;
}

.music-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    animation: musicImg 5s infinite ease-in-out;
}

@keyframes musicImg {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.theme-text {
    color: var(--text-dark);
}
